@page "/"
@inject ITodoRepository repository
@inject IJSRuntime jsRuntime

<div class="container-fluid">
    <h1>Todo list</h1>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="What do you need to do?" @bind="newItem" @onkeyup="EnterPressHandler" />
                </div>
                <div class="col">
                    <button class="btn btn-primary" @onclick="AddItem">Add</button>
                </div>
            </div>
            <br />

            @if (todos.Any())
            {
                <div class="row d-flex justify-content-around">
                    <button class="btn btn-sm btn-outline-primary" disabled>TOTAL: @todos.Count()</button>
                    <button class="btn btn-sm btn-outline-success" disabled>DONE: @todos.Count(c => c.IsDone)</button>
                    <button class="btn btn-sm btn-outline-warning" disabled>IN PROGRESS: @todos.Count(c => !c.IsDone)</button>
                </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width:70%">Title</th>
                                <th scope="col" >Is done</th>
                                <th scope="col" style="color:red;cursor:pointer">
                                    <a @onclick="(() => RemoveAll())">Clear all</a>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in todos)
                        {
                            <tbody>
                                <tr>
                                    <td style="width:70%">
                                        <div class="@(item.IsDone ? "doneTodo" : "notDoneTodo")">
                                            @item.Title
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.IsDone)
                                        {
                                            <input type="checkbox" checked @onchange="(() => ChangeStatus(item))" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" @onchange="(() => ChangeStatus(item))" />
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-secondary" @onclick="(() => RemoveItem(item.Id))">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<TodoItem> todos = new List<TodoItem>();
    private string newItem;

    protected override async Task OnInitializedAsync()
    {
        todos = await repository.GetAll();
    }

    private async Task AddItem()
    {
        if (!string.IsNullOrWhiteSpace(newItem))
        {
            await repository.Add(newItem);
            newItem = string.Empty;
            todos = await repository.GetAll();
        }
    }

    private async Task RemoveItem(int id)
    {
        if (await jsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to remove this?"))
        {
            await repository.Delete(id);
            todos = await repository.GetAll();
        }
    }

    private async Task RemoveAll()
    {
        if (await jsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to clear all?"))
        {
            await repository.DeleteAll();
            todos = await repository.GetAll();
        }
    }

    private async Task ChangeStatus(TodoItem item)
    {
        item.IsDone = !item.IsDone;
        await repository.Update(item);
    }

    private async Task EnterPressHandler(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            await AddItem();
        }
    }
}
